/* CSS to apply round corners to windows and "fix" some broken elements */

html,
body {
    background: transparent !important;
    background-color: transparent !important;
    border-radius: 14px;
    overflow: hidden;
}
.body-container {
    background-color: var(--pageBG) !important;
    border-radius: 14px !important;
    overflow: hidden;
}
iframe,
.container.takeover,
.modal.svelte-z646mu.svelte-z646mu {
    border-radius: 14px !important;
    overflow: hidden !important;
}
.player-bar.svelte-1rr9v04 {
    border-top-right-radius: 14px !important;
    overflow: hidden !important;
}
.side-panel.svelte-15gudma.svelte-15gudma {
    border-bottom-right-radius: 16px !important;
}
.side-panel.svelte-15gudma.svelte-15gudma::-webkit-scrollbar {
    display: none;
}
.cwc-upsell-personal {
    border-top-right-radius: 14px !important;
    border-bottom-right-radius: 14px !important;
    overflow: hidden !important;
}
.upsell-personal.svelte-7wle6h.svelte-7wle6h {
    background-color: transparent !important;
}

/* Window Border */
.window-outline,
.window-outline::before {
    border-radius: 12px !important;
    overflow: hidden !important;
}
