/* CSS overides to apple music webpage */

/* Hide Logo and open in app button */
a.svelte-1o7dz8w,
.navigation__native-cta {
    display: none !important;
}

/* Header Bar */
.logo.svelte-1o7dz8w,
.player-bar.svelte-nrv2cz {
    -webkit-app-region: drag;
}

/* Invisble drag headerbars */
.container.takeover::before,
.player-bar.svelte-1rr9v04::before,
.lyrics__container.svelte-1jsf5ov::before {
    content: "";
    position: fixed;
    top: 0;
    left: 100px;
    width: calc(100% - 100px);
    height: 54px;
    -webkit-app-region: drag;
}

/* Drag Exclusions */

.playback-exit,
.close-button.svelte-1jsf5ov {
    -webkit-app-region: no-drag;
    margin-left: 100px !important;
}
.right-content.svelte-1rr9v04,
apple-music-playback-controls,
amp-chrome-volume,
amp-lcd {
    -webkit-app-region: no-drag !important;
}

/* Window Controls */

.window-controls {
    content: "";
    position: fixed;
    top: 0;
    margin: 20px;
    height: 12px;
    width: 64px;
    z-index: 99999;
}
.close,
.minimize,
.maximize {
    width: 12px;
    height: 100%;
    -webkit-app-region: no-drag;
}
.minimize,
.maximize {
    margin-left: 5px !important;
}

.red,
.yellow,
.green {
    border-radius: 50%;
    width: 12px;
    height: 100%;
}
.red {
    background-color: #ff5c5c;
}
.yellow {
    background-color: #ffbd44;
}
.green {
    background-color: #4caf50;
}

/* Window Border */

.window-outline {
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
    border: 1px solid black;
    box-sizing: border-box;
}
.window-outline::before {
    content: "";
    position: fixed;
    box-sizing: border-box;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px solid var(--vibrantDivider);
    background-color: transparent;
    pointer-events: none;
    z-index: 999999;
}
