/* CSS to apply round corners to windows and "fix" some broken elements */

html,
body {
    background: transparent !important;
    background-color: transparent !important;
    border-radius: 12px;
}
.body-container {
    background-color: var(--pageBG) !important;
    border-radius: 12px !important;
}
iframe,
.backdrop.svelte-mjbhnt.svelte-mjbhnt,
.content-wrapper.svelte-mjbhnt.svelte-mjbhnt {
    border-radius: 12px !important;
    overflow: hidden !important;
}
.player-bar.svelte-nrv2cz {
    border-top-right-radius: 16px !important;
    overflow: hidden !important;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    z-index: 0;
}
.side-panel.svelte-hhjnla.svelte-hhjnla {
    border-bottom-right-radius: 12px !important;
    height: calc(100vh - 56px) !important;
    margin-right: 1px;
}
.side-panel.svelte-hhjnla.svelte-hhjnla::-webkit-scrollbar,
.upsell-personal.svelte-7wle6h.svelte-7wle6h {
    display: none;
}
.content-wrapper.svelte-mjbhnt.svelte-mjbhnt,
.app-container.svelte-1dd2ymc {
    border: 1px solid black;
    border-radius: 12px; /* MAKE IT 14 */
    box-sizing: border-box !important;
    overflow: hidden !important;
    position: relative;
    z-index: 1;
}
.content-wrapper.svelte-mjbhnt.svelte-mjbhnt::before,
.app-container.svelte-1dd2ymc::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 12px; /* MAKE IT 14 */
    border: 2px solid rgba(235, 235, 245, 0.35);
    background-color: transparent;
    pointer-events: none;
    z-index: 99999; /* Ensure the border appears above this */
}
